
<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <div class="sidebar-brand-text mx-3 text-center" style="margin-top: 5%; font-size: 40px;">Monitor Risks</div>

      <li class="nav-item">
          <a class="nav-link" href="user/data" style="margin-top: 4%; margin-left: 1%; font-size: 15px;" >
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Registro de riesgos</span></a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="user/graphics" style="margin-top: 1%; margin-left: 1%; font-size: 15px;" >
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Reporte de riesgos</span></a>
    </li>
    <img width="45%" style="margin-left: 28%; margin-top: 0%; float: right;" [src] = "img" alt="" srcset="">


      <hr class="sidebar-divider d-none d-md-block">
  </ul>
</div>

