<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4"
>
  <a class="navbar-brand ml-5" href="#">
    <img src="../../../../assets/visitor/brand-logo.svg" alt="" width="180" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline">
      <!---User Menu-->
      <img
        src="../../../../../../assets/user/public_information_person.svg"
        class="img-thumbnail"
        alt="..."
        style="width: 50px; border-radius: 0.25rem; border: none"
      />
      <div class="position-relative">
        <p
          class="mb-0 mt-2"
          style="font-size: 10px; color: #1e73be; font-family: Montserrat"
        >
          ¡Bienvenido!
        </p>
        <p
          class="mt-0 mt-1 text-dark"
          style="font-size: 16px; font-family: Montserrat"
        >
          Usuario No.
        </p>
      </div>
    </form>
  </div>
</nav>
